.introduction {
  max-width: 40rem;
  margin-inline: auto;
  padding: 2rem 1rem;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-block: 0 3rem;
}

.lead {
  font-size: 1.1rem;
  margin-block: 0 0.5rem;
  color: #555;
  line-height: 1.4;
}

.title,
.lead,
.body {
  word-break: keep-all;
  overflow-wrap: anywhere;
}
