.introduction {
  max-width: 40rem;
  margin-inline: auto;
  padding: clamp(1.5rem, 20lvh, 2.5rem) 1rem;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-block: 0 3rem;
}

.title span {
  padding-inline: 0.1em 0.3em;
  vertical-align: 0.05em;
}

.lead {
  font-size: 1.15rem;
  font-weight: 400;
  margin-block: 0 1rem;
  color: #555;
  line-height: 1.4;
}

.title,
.lead,
.body {
  word-break: keep-all;
  overflow-wrap: anywhere;
}
