/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
@import "kiso.css";
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Noto+Sans+JP:wght@400;500;700&display=swap");

@font-face {
  font-family: "Uzura";
  src: url("/fonts/uzura.ttf") format("truetype");
  font-display: swap;
  unicode-range: U+0020-024F, U+2000-206F, U+3000-30FF, U+4E00-9FFF, U+FF00-FFEF;
}

:root {
  --common-header-height: 4.2rem;
  --ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
  --font-body:
    "Uzura", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Noto Sans JP";
  --font-title: "Caveat", var(--font-body), cursive;
}

html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: var(--font-body);
}

body {
  padding: 0;
  margin: 0;
  background: #fff;
  line-height: inherit;
}
